* {
	font-family: 'Roboto', sans-serif;
}
/* html, body {
	font-size: 16px;
} */

section#demo {
	background: #fbfbfb;
    position: absolute;
    padding: 5px;
    /* min-height: 71vh; */
    /* transition: height 9999s; */
}
.vertical-align {
	position: absolute;
	top: 70%;
	transform: translateY(-50%);
	right: 16.7em;
	width: 100px;
}
.card1 {
	width: 340px;
	margin-top:550px ;
	/* margin-bottom: 20px; */
	/* background: #fff; */
	box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
	border-width: 20px;
	padding: 7px 15px;
}